node_modules/
build/
dist/
out/
public/
*.config.js
*.config.ts
webpack.config.js
webpack.config.ts
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
*.min.js
*.bundle.js
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.webp
*.bmp
docs/**/*.js
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
!.prettierrc.js
